<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="static/css/style.css"/>
    </head>

    <body>
    	<header class="site--header">
    		<div class="container-fluid">
    			<h1>ChestXray Disease Prediction</h1>
    		</div>
    	</header>
    	<div class="parent">
            <form id="frm-file-uploader" action = "/upload-image" method = "post" enctype="multipart/form-data">
                <div class="panel--block upload--container">
                    <img class="stethescope" src="static/images/stet.png" alt="stethescope">
                    <div class="inner--upload">
                        <img class="upload-file" src="static/images/upload.png" alt="upload">
                        <p>Upload the XRay Image</p>
                        <a href="#">Select Image</a>
                        <input id="uploaded-file" type="file" name="file">
                    </div>
                </div>
            </form>
       </div>
       <script src="static/js/jquery-3.4.1.min.js"></script>
       <script src="static/js/app.js"></script>
    </body>
</html>